*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
    color: white;
}
body{
    background-color: #151617;
}

.PRIME{
    color: red;
    text-align: center;
    padding: 20px;
}

nav ul{
    display: flex;
    justify-content: center;
    list-style: none;
}
nav ul a li{
    padding: 10px 20px;
    transition: all 350ms ease-in-out;
    margin: 0px 3px;
    cursor: pointer;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;

}
nav ul a li:hover{
    background-color: #fff;  
    color: #151617;
   

   
}


nav ul li a{
    color: rgb(206, 187, 187);
    text-decoration: none;
    font-weight: 800;
}

.products{
    color: aquamarine;
    font-size: 35px;
    margin-top: 30px;
    text-align: center;
}

h1{
    color: rgb(255, 255, 255);
    font-size: 100px;
    letter-spacing: 20px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
    opacity: 0.3;
    
    
}

.images{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    transform: translateY(-100px);
}
.images table tr td img{
    transition: 0.2s;
    cursor: pointer;
}
table tr td:hover img{
    transform: scale(1.08);
    transition: 0.2s;
}

.buy a{
    background-color: rgb(255, 255, 255);
    padding:5px 40px;
    margin-top: 10px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    text-decoration: none;
    color: rgb(75, 67, 67);
    text-transform:initial;
    transition: 0.5s;
}
.buy a:hover{
    transition: 0.5s;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    color: rgb(0, 0, 0) ;
    background-color: rgb(233, 233, 51);
}
.buy{
    transition: 0.3s;
}

.ad .img{
    display: flex;
    justify-content: space-evenly;
}
.ad .img img{
    width: 38%;
}

.ad{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button{
    width: 250px;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: rgb(255, 251, 251);
    color: black;
    font-weight: 700;
    font-size: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    transition: 0.3s all ease-in;
}

.button:hover{
    background-color: rgb(233, 233, 51);
    color: black;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    
}

footer form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
}
footer form input{
    width: 400px;
    margin: 15px;
    background-color: #fff;
    padding: 12px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    color: black;
    transition: 0.3s ease-in-out;
    outline: none;
}

form input:focus{
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
input::placeholder{
    color: #151617;
}
textarea::placeholder{
    color: #151617;
    font-size: 14px;
}

footer form textarea{
    width: 400px;
    padding: 12px;
    margin: 15px;
    background-color: #fff;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;    color: black;
    outline:none;
    transition: 0.3s ease-in;
}
textarea:focus{
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.submit{
    width: 100px;
    padding: 8px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color:white;
    color: #020304;
    cursor: pointer;
    transition: 0.5s;
}
.submit:hover{
    background-color: rgb(233, 233, 51);
    color: black;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
h2{
    color: #fff;
    margin-left: 15px;
    padding-top: 30px;
    margin-bottom: 30px;
}
footer{
    background-color:#25282a;
    margin-top: 20px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;

}

.end{
    display: flex;
    background-color: black;
}
.info{
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: flex-start;
    margin-top: 20px;
    padding: 10px 20px;
    margin-bottom: 100px;
}

.info a{
    color: white;
    text-decoration: none;
}

.drinks{
    align-items: flex-end;
}
.aboutus{
    align-items: flex-end;
}
.info p{
    font-size: 13px;
    margin-top: 10px;
}

.visit{
    background-color: black;
    opacity: 1;
    margin: 0;
    font-size: 30px;
    padding-bottom: 30px;
}

